.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 83, 87);
    font-family: 'Impact';
    min-height: 100vh;
}

.calculator {
    background-color: rgb(178, 127, 127);
    padding: 20px;
    width: 310px;
    border-radius: 18px;
}

.title {
    font-size: 26px;
     text-align: center;
     font-weight: bold;
    
}